* {
    margin: 0;
    box-sizing: border-box;
    color: black;
    text-align: center;
    font-family: courier;
}

p {
    margin: 5px 0;
}

h2 {
    margin: 15px;
}

h3 {
    margin: 15px;
}

.images-container {
    display: flex;
    flex-wrap: wrap;
}

.images-container div {
    padding: 20px;
    margin: 0 3rem;
    width: 21rem;
    height: 21rem;
    margin: 56px;
    border-width: 25px;
    border-style: outset;
    box-shadow: 0 14px 10px -6px black;
}

.images-container div:hover {
    filter: brightness(75%);
}

.images-container img {
    width: 100%;
}

.image-item {
    position: relative;
}

h5 {
    position: absolute;
    bottom: 8px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 15px;
}

.overview-container {
    position: fixed;
    top: 0;
    left: 3%;
    bottom: 0;
    width: 94%;
    overflow-y: auto;
    background-color: lightgrey;
}

.overview-image-container img {
    width: 400px;
}

.overview-image-container {
    text-align: center;
}

.overview-close {
    font-size: 30px;
    text-align: right;
    margin-top: 30px;
    margin-right: 30px;
    font-family: arial;
}

.comments-container {
    min-height: 100%;
}

.individual-comment {
    background-color: white;
    border: 1px solid black;
    margin: 10px 0;
}

label {
    width: 100px;
    display: inline-block;
}

button {
    margin: 10px 0;
}

button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
